<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Products</h1>
    <form action="/" method="POST">
      <input name="prod" placeholder="input new product" />
      <button type="submit"> submit </button>
    </form>

    <ul>
      <% for (let i = 0; i < products.length; i++) { %>
      <div>
        <li>
          <%= products[i] %>
          <button>delete</button>
        </li>
      </div>
      <% } %>
    </ul>
  </body>
</html>
