.headerText {
  margin-left: 100px;
  margin-top: 10px;
  color: white;
  font-size: 2rem;
}

.text {
  color: white;
  margin-top: 10px;
}

.text1 {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
  }

.buttons {
    margin-left: 300px;
}

.logo {
    max-width: 100%;
    margin-top: 0px;
}

.mast {
    background-color: #1abc9c;
}

.logSignbtn {
    margin-right: 100px;
    margin-left: 350px;
}

.welcome {
  color: black;
  margin-top: 50px;
  font-size: 6rem;
}

.welcomeText {
  color: black;
  margin-top: 30px;
}

.textUnderWelcome {
  margin-top: 40px;
}

.mainText {
  text-decoration: justify;
}